* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", system-ui, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
